<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--保证映射文件的命名空间和mapper接口的全类名保持一致-->
<mapper namespace="com.losgai.spzx.user.mapper.UserAddressMapper">

    <resultMap id="userAddressMap" type="com.losgai.spzx.model.entity.user.UserAddress" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,user_id,name,phone,tag_name,province_code,city_code,district_code,address,full_address,is_default,create_time,update_time,is_deleted
    </sql>

    <select id="findUserAddressList" resultType="com.losgai.spzx.model.entity.user.UserAddress">
        select <include refid="columns"/>
        from user_address
        where user_id = #{userId}
        and is_deleted = 0
    </select>

    <!--远程调用获取地址-->
    <select id="findUserAddressById" resultType="com.losgai.spzx.model.entity.user.UserAddress">
        select <include refid="columns"/>
        from user_address
        where id = #{id}
        and is_deleted = 0
    </select>
</mapper>

