<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--保证映射文件的命名空间和mapper接口的全类名保持一致-->
<mapper namespace="com.losgai.spzx.manager.mapper.BrandMapper">

    <resultMap id="brandMap" type="com.losgai.spzx.model.entity.product.Brand" autoMapping="true"/>

    <sql id="columns">
        id,name,logo,create_time,update_time,is_deleted
    </sql>
    <insert id="save">
        insert into brand(id,
                          name,
                          logo,
                          create_time,
                          update_time,
                          is_deleted)
        values(#{id},#{name},#{logo},now(),now(),0)
    </insert>

    <!--更新品牌信息-->
    <update id="updateBrand">
        update brand set
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="logo != null and logo != ''">
            logo = #{logo},
        </if>
        update_time = now()
        where id = #{id}
    </update>

    <!--删除品牌信息，软删除-->
    <update id="deleteBrandById">
        update brand
        set is_deleted  = 1,
            update_time = now()
        where id = #{brandId}
          and is_deleted = 0
    </update>

    <!--列表分页查询-->
    <select id="findByPage" resultMap="brandMap">
        select
        <include refid="columns"/>
        from
        brand where is_deleted = 0
        order by id desc
    </select>
</mapper>
