<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--保证映射文件的命名空间和mapper接口的全类名保持一致-->
<mapper namespace="com.losgai.spzx.manager.mapper.ProductSpecMapper">

    <sql id="columns">
        id,spec_name,spec_value,create_time,update_time,is_deleted
    </sql>

    <resultMap id="productSpecMap" type="com.losgai.spzx.model.entity.product.ProductSpec" autoMapping="true"/>

    <!--保存商品标签-->
    <insert id="save">
        insert into product_spec(<include refid="columns"/>)
        values(
        #{id},
        #{specName},
        #{specValue},
        now(),
        now(),
        0)
    </insert>

    <!--修改商品标签-->
    <update id="updateById">
        update product_spec set
        <if test="specName != null and specName != ''">
            spec_name =
            #{specName},
        </if>
        <if test="specValue != null and specValue != ''">
            spec_value =
            #{specValue},
        </if>
        update_time = now()
        where id = #{id}
    </update>

    <!--删除商品标签-->
    <update id="deleteById">
        update product_spec
        set is_deleted  = 1,
            update_time = now()
        where id = #{id}
    </update>

    <!--分页查询-->
    <select id="findByPage" resultMap="productSpecMap">
        select
        <include refid="columns"/>
        from product_spec
        where is_deleted = 0
        order by id desc
    </select>
</mapper>
